
body {
  font-family: 'Montserrat', sans-serif;
  text-align: center;
}

h1,h2,h3,h4,h5,h6 {
  font-weight: 600;
}

.download-button {
  margin: 5% 3% 0 3%;
}

/* Headings */

.big-heading {
  color: #fff;
  font-size: 3.3rem;
  font-weight: 900;
  line-height: 1.5;
}


/* Containers */

.container-fluid {
  padding: 7% 15%;
}

/* Sections */

.colored-section {
  background-color: #ff4c68;
  color: #fff;
}

.white-section {
  background-color: #fff;
}



/* Title */

#title .container-fluid {
  padding: 3% 15% 7%;
  text-align: left;
}

.main-img {
  position: absolute;
  transform: rotate(25deg);
  width: 55%;
  right: 28%;
}

.navbar {
  padding: 0 0 4.5rem;
}

.navbar-brand {
  font-family: 'Ubuntu', sans-serif;
  font-weight: 500;
  font-size: 2.5rem;
}

.nav-item {
  padding: 0 21px;
}

.nav-link {
  font-size: 1.2rem;
}


/* Features */

#features {
  position: relative;
  line-height: 2;
}

.feature-box {
  padding: 5% 5%;
}

.features-headings {
  padding-top: 5%;
  font-size: 1.7rem;
}

.features-paragraph {
  color: #8f8f8f;
}

.icons {
  font-size: 3.5rem;
  color: #ef8172;
}
.icons:hover {
  color: #ff4c68;
}


/* Testimonials */

#testimonials {
  background-color: #ef8172;
  line-height: 1.5;
}

.testimonial-text {
  font-size: 3rem;
}

.testimonial-img {
  border-radius: 100%;
  margin: 20px;
  width: 10%;
}


/* Press */

#press {
  background-color: #ef8172;
  padding-bottom: 3%;

}

.press-logo {
  margin: 20px 20px 15px;
  width: 15%;
}


/* Pricing */

#pricing {
  padding: 100px;
}

.pricing-col {
  padding: 3% 2%;
}


/* CTA section */




/* Footer */

#footer {
  padding: 3% 3%;
}

.footer-icons {
  font-size: 1.5rem;
  margin: 0 10px;
}

.copyright {
  color: grey;
  padding-top: 20px;
}



@media (max-width: 1028px) {
  #title {
    text-align: center;
  }
  .main-img {
    padding-top: 5%;
    position: static;
    transform: rotate(0);
  }

  #cta {
    padding: 5% 10%;;
  }

}
